$geneTitle: #2a3b42;
$geneTitleNumber: #078b8a;
$geneTitleNumberHover: #00bc96;
$geneText: #666666;
$geneTextNumber: #00bc96;
$geneTextNumberHover: #4ccdb3;
$geneMore: #666666;
$geneMoreHover: #999999;
$geneButtonBackground: #f3981d;
$geneButtonBackgroundHover: #ffac3d;
$gene: #f3981d;