#geneContainer {
  margin: 0;
  padding: 0 0 10px 0;
  width: 100%;
  min-width: 1200px;
  background: url("https://img.j1.com/images/images1308/ico/geneBackground.png") no-repeat center 40px #ffffff;
}
#geneContainer.gcBg-1 {
  background-image: url("https://img.j1.com/images/images1308/ico/geneBackground1.png");
}
#geneContainer.gcBg-1-1 {
  background-image: url("https://img.j1.com/images/images1308/ico/geneBackground11.png");
}
#geneContainer.gcBg-2 {
  background-image: url("https://img.j1.com/images/images1308/ico/geneBackground2.png");
}
#geneContainer.gcBg-3 {
  background-image: url("https://img.j1.com/images/images1308/ico/geneBackground3.png");
}
#geneContainer.gcBg-4 {
  background-image: url("https://img.j1.com/images/images1308/ico/geneBackground4.png");
}
#geneContainer.gcBg-help {
  background-image: url("https://img.j1.com/images/images1308/ico/geneBackgroundHelp.png");
}
#geneContainer.gcBg-list {
  background-image: url("https://img.j1.com/images/images1308/ico/geneBackgroundList.png");
}

#geneBody {
  margin: 0 auto;
  width: 1200px;
  color: #666666;
}

#geneHeading {
  display: flex;
  margin: 40px 30px 40px 100px;
  height: 40px;
}
#geneHeading h1 {
  flex: 1;
  font-size: 28px;
  line-height: 40px;
  color: #2a3b42;
}

#geneContainer a {
  color: #666666;
}
#geneContainer a:hover {
  color: #c40000;
}

#geneContainer .text-number {
  font-style: normal;
  color: #078b8a;
}
a:hover #geneContainer .text-number {
  color: #00bc96;
}

#geneContainer .text-primary {
  color: #00bc96;
}

#geneContainer a.text-primary:hover {
  color: #4ccdb3;
}

#geneContainer .text-warning {
  color: #f3981d;
}

#geneContainer .text-title {
  color: #2a3b42;
}

#geneContainer .text-negative {
  color: #96df7c;
}

#geneContainer .text-positive {
  color: #ff6b6b;
}

.geneIcon {
  display: inline-block;
  background: url("https://img.j1.com/images/images1308/ico/geneIcon.png") no-repeat 100px 100px;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}

.geneIcon-download {
  width: 14px;
  height: 14px;
  background-position: -306px -40px;
}

.geneIcon-1 {
  background-position: 0 0;
}

.geneIcon-2 {
  background-position: 0 -40px;
}

.geneIcon-3 {
  background-position: 0 -80px;
}

.geneIcon-4 {
  background-position: 0 -120px;
}

.geneIcon-1-1 {
  background-position: -40px 0;
}

.geneIcon-1-2 {
  background-position: -40px -40px;
}

.geneIcon-1-3 {
  background-position: -40px -80px;
}

.geneIcon-arrow {
  width: 11px;
  height: 30px;
  background-position: -289px 6px;
}
a:hover .geneIcon-arrow {
  background-position: -309px 6px;
}

.geneIcon-declaration {
  width: 40px;
  height: 40px;
  background-position: 0 -280px;
}

.geneIcon-checked {
  width: 27px;
  height: 26px;
  background-position: -293px -120px;
}

.geneIcon-cart {
  width: 30px;
  height: 25px;
  background-position: -40px -280px;
}

.geneIcon-text {
  width: 30px;
  height: 25px;
  background-position: -80px -280px;
}

.geneBadge {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #39bc80;
  text-align: center;
  line-height: 38px;
  color: #ffffff;
}

.geneNegative, .genePositive {
  display: inline-block;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}

.geneNegative {
  background: #96df7c;
}

.genePositive {
  background: #ff6b6b;
}

.geneNegativeBig, .genePositiveBig {
  display: block;
  margin: 20px auto 0 auto;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  line-height: 124px;
  font-weight: normal;
}

.geneNegativeBig {
  background: #95de71;
}

.genePositiveBig {
  background: -webkit-linear-gradient(#ff6b6b, #ff9191);
}

.geneButton {
  display: inline-block;
  padding: 13px 14px;
  background: #f3981d;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1;
  color: #ffffff !important;
}
.geneButton:hover {
  background: #ffac3d;
}

.geneButton-warning,
.geneButton-primary {
  margin: 0 16px;
  padding: 16px 22px 14px 22px;
  font-size: 15px;
  line-height: 25px;
}
.geneButton-warning > .geneIcon,
.geneButton-primary > .geneIcon {
  margin-right: 15px;
}

.geneButton-warning {
  background: #f3981c;
}
.geneButton-warning:hover {
  background: #f6ae4c;
}

.geneButton-primary {
  background: #39bc80;
}
.geneButton-primary:hover {
  background: #5bcd99;
}

.geneFold {
  position: relative;
}
.geneFold .arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background: url("https://img.j1.com/images/images1308/ico/geneIcon.png") no-repeat -280px -80px;
  cursor: pointer;
  transition: all 300ms;
}
.geneFold.open .arrow {
  transform: rotateZ(180deg);
}

.geneSection, .geneDeclaration, .geneItem, .geneTabs, .geneHelp, .geneTable, .geneMessage {
  margin: 20px;
  padding: 0 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background: #ffffff;
}

.geneSection > .text-title {
  display: flex;
  padding: 33px 40px 27px 20px;
  border-bottom: 1px solid #e6e6e6;
  height: 30px;
  line-height: 30px;
}
.geneSection > .text-title strong {
  flex: 1;
  font-size: 21px;
  font-weight: bold;
  color: #2a3b42;
}
.geneSection > .text-title span {
  font-size: 18px;
  color: #666666;
}
a.text-title:hover span {
  color: #999999;
}
.geneSection > ul {
  list-style: none;
  margin: 0;
  padding: 0 0 10px 0;
  line-height: 55px;
}
.geneSection > ul li {
  display: flex;
  align-items: center;
  padding: 0 40px 0 58px;
}
.geneSection > ul li h4 {
  flex: 1;
  font-size: 15px;
}
.geneSection > ul li span {
  font-size: 18px;
}
.geneSection > ul li span i {
  color: #00bc96;
}
.geneSection > ul li + li {
  border-top: 1px solid #e6e6e6;
}

.geneSection-sub > .text-title span {
  width: 9em;
  text-align: center;
}
.geneSection-sub > ul {
  max-height: 275px;
  overflow: hidden;
  transition: all 300ms;
}
.geneSection-sub > ul > li > .text-primary {
  width: 9em;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.geneSection-sub > ul > li + li {
  border-top: none;
}
.geneSection-sub.open > ul {
  max-height: 1375px;
}

.geneDeclaration {
  padding: 45px 275px;
  background: url("https://img.j1.com/images/images1308/ico/geneDeclarationBackground.png") no-repeat right bottom #ffffff;
  font-size: 14px;
}
.geneDeclaration h2 {
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 40px;
  text-align: center;
  color: #2a3b42;
}
.geneDeclaration h2 .geneIcon-declaration {
  margin-right: 18px;
}
.geneDeclaration ul {
  list-style: disc;
  padding-left: 58px;
  color: #999999;
}
.geneDeclaration ul li {
  list-style-type: disc;
}
.geneDeclaration p {
  margin-top: 10px;
  padding: 0 0 0 58px;
}
.geneDeclaration .text-primary:hover {
  font-weight: bold;
}

.geneItem {
  font-size: 14px;
}
.geneItem .text-title {
  padding: 30px 0 17px 0;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}
.geneItem h2.text-title {
  padding-bottom: 32px;
  border-bottom: 1px solid #e6e6e6;
}
.geneItem > p {
  padding: 30px 0;
  text-align: center;
  font-size: 21px;
  color: #2a3b42;
}
.geneItem > .geneItemList {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms;
}
.geneItem > .geneItemList > li {
  border-top: 1px solid #e6e6e6;
}
.geneItem.open > .geneItemList {
  max-height: 3030px;
}

.geneItemTable {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 780px;
}
.geneItemTable > li {
  flex: 1;
  font-size: 15px;
}
.geneItemTable > li > h4,
.geneItemTable > li > p {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.geneItemText, .geneItemChart, .geneItemRuler {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 40px;
}

.geneItemText > .geneItemContent, .geneItemChart > .geneItemContent, .geneItemRuler > .geneItemContent {
  width: 868px;
}

.geneItemChart > .geneItemContent {
  width: 840px;
  position: relative;
}
.geneItemChart > .geneItemContent > ul {
  padding: 36px 0 36px 72px;
}
.geneItemChart > .geneItemContent > ul > li {
  padding: 10px 0;
  font-size: 18px;
  line-height: 1;
}
.geneItemChart > .geneItemContent > ul > li > i {
  display: inline-block;
  margin-right: 15px;
  width: 17px;
  height: 17px;
  vertical-align: bottom;
}
.geneItemChart > .geneItemContent > ul > li:nth-child(1) > i {
  background-color: #5ec5c9;
}
.geneItemChart > .geneItemContent > ul > li:nth-child(2) > i {
  background-color: #ffd276;
}
.geneItemChart > .geneItemContent > ul > li:nth-child(3) > i {
  background-color: #fbab6c;
}

#geneChart {
  width: 240px;
  height: 240px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -140px;
}

.geneItemRuler > .text-title {
  padding: 38px 0 28px 0;
  font-size: 21px;
}
.geneItemRuler > .ruler {
  position: relative;
  margin: 30px 0;
  width: 560px;
  height: 32px;
  background: -webkit-linear-gradient(left, #6fc8fa, #ffe35f 50%, #faaa6a);
  border-radius: 16px;
}
.geneItemRuler > .ruler > ul {
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
}
.geneItemRuler > .scale {
  margin: 0 0 30px 0;
  padding-right: 60px;
  width: 540px;
  border-top: 1px solid #e6e6e6;
}
.geneItemRuler > .scale > span {
  position: relative;
  display: inline-block;
  font-size: 44px;
  line-height: 60px;
  color: #c6dc9c;
  font-family: impact, serif;
}
.geneItemRuler > .scale > span > i {
  position: absolute;
  left: 50%;
  top: -12px;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #c6dd9b;
}
.geneItemRuler > ul {
  width: 340px;
  font-size: 18px;
  line-height: 36px;
  color: #2a3b42;
  font-weight: bold;
}

.geneTabs > .tab-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 40px 0 16px 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 15px;
  line-height: 23px;
}
.geneTabs > .tab-list > li {
  margin: 8px 20px 7px 20px;
  padding: 1px 15px;
  border-radius: 12px;
  min-width: 4em;
  text-align: center;
  cursor: pointer;
}
.geneTabs > .tab-list > li:hover {
  padding: 0 14px;
  border: 1px solid #39bc80;
}
.geneTabs > .tab-list > li.active {
  background: #39bc80;
  color: #ffffff;
}
.geneTabs > .tab-content > .tab-pane {
  position: relative;
  display: none;
  /*&.open > ul {
    max-height: 2520px;
  }*/
}
.geneTabs > .tab-content > .tab-pane > ul {
  list-style: none;
  /*max-height: 840px;*/
  overflow: hidden;
  transition: all 300ms;
}
.geneTabs > .tab-content > .tab-pane > ul > li {
  display: flex;
  align-items: center;
  padding: 0 20px 0 58px;
  height: 56px;
  font-size: 18px;
}
.geneTabs > .tab-content > .tab-pane > ul > li > h5 {
  flex: 1;
  font-size: 15px;
}
.geneTabs > .tab-content > .active {
  display: block;
}

.geneHelp {
  padding: 46px 40px 46px 68px;
  font-size: 15px;
  line-height: 30px;
  color: #39bc80;
}
.geneHelp > .geneAccordion {
  list-style: decimal;
  padding-left: 20px;
}
.geneHelp > .geneAccordion > li {
  list-style: decimal;
  padding: 9px 0;
}
.geneHelp > .geneAccordion > li > h2 {
  cursor: pointer;
}
.geneHelp > .geneAccordion > li > p {
  max-height: 0;
  color: #666666;
  transition: max-height 300ms;
  overflow: hidden;
}
.geneHelp > .geneAccordion > li.active > h2 {
  font-weight: bold;
}
.geneHelp > .geneAccordion > li.active > p {
  max-height: 3000px;
}

.geneTable {
  padding: 0;
  width: 1158px;
}
.geneTable td {
  text-align: center;
  font-size: 15px;
  line-height: 55px;
}
.geneTable td:first-child {
  padding-left: 30px;
}
.geneTable td:last-child {
  padding-right: 30px;
}
.geneTable thead td {
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
}

.geneMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.geneMessage h2 {
  margin: 35px 0;
  font-size: 21px;
  color: #2a3b42;
}
.geneMessage p {
  margin: 15px 0;
  font-size: 14px;
}
.geneMessage div {
  display: flex;
  align-content: center;
}
